
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
}

/* MODE EXPORT PDF - FIX OKLCH */
.export-pdf,
.export-pdf * {
  color: rgb(0, 0, 0) !important;
  background-color: rgb(255, 255, 255) !important;
  border-color: rgb(229, 231, 235) !important;
  box-shadow: none !important;
}




@theme {
  --color-primary: #EAB308;
  --color-secondary: #6E332C;
}